@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Oswald', sans-serif;
    background: whitesmoke 
}

/*-----NAV-----*/
header,nav, .nav-logo, .nav-logo-text, .nav-menu, .nav-menu-list, .nav-menu-item {
    display:flex;
}
header{
    justify-content:center;

}
nav{
    flex-direction: column;
    position: sticky;
    z-index: 2;
}
nav .nav-logo{
    background-color: whitesmoke;
    justify-content: flex-start;

}
nav .nav-logo .nav-logo-text{
    flex-direction: column;
    justify-content: center;
}  
nav .nav-menu{
    background-color: black;
    height: 40px;
    align-items: center;
    justify-content: center;

}
.nav-menu-list{
    width: 90vw;
    justify-content: space-around   ;

}
.nav-menu-item{
    display: flex;
    justify-content: center;
    list-style:none;
    color: whitesmoke;
}
.nav-menu-item a{
    text-decoration: none;
    color: whitesmoke;
}

/*--SECTION INICIO--*/

#home{
    display: flex;
    background-image: url(./assets/img/bkg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
    position: relative;
    top: -20px;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    
}   
#home .home-text{
    font-size: 40px;
    align-self: center;
    justify-self: center;
    width: 400px;
    height: 100px;
}
#home .home-banner{
    height: 80px;
    background-color: orange;
    width: 100vw;
    opacity: 60%;
    justify-self: flex-end;
}
/*--SECTION ACERCA DE--*/
#aboutUs{
    position: relative;
}
#aboutUs .about-us-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#aboutUs .about-us-content .about-us-image{
    display: flex;
    justify-content: center;
    width: 50%;
}
#aboutUs .about-us-content .about-us-image img{
    width: 400px;
    height: 300px;
}
#aboutUs .about-us-content .about-us-text{
    width: 50%;
}
/*--SECTION SERVICIOS--*/
#services .services-list{
    display: flex;
    justify-content: space-between;
}
#services .services-list .services-item img{
    height: 228px;
    width:327px;
}


/*--SECTION CLIENTES--*/
#clients div{
    display: flex;
    justify-content: center;
}
/*--SECTION CONTACT--*/
#contact .contact-content{
    display: flex;
    justify-content: space-around;
}

#contact .contact-content .contact-form {
    width: 500px;
    height: 300px;
    background-color: #c9c9c97c;
}
#contact .contact-content .contact-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
}
#contact .contact-content .contact-form form input{
    margin: 5px 0px;
    width: 400px;
}
#contact .contact-content .contact-details{
    display: flex;
    flex-direction: column;
    align-content: flex-start;

}
#contact .contact-content .contact-details .contact-details-contacts{
    display: flex;
    align-items: center;
}
#contact .contact-content .contact-details .contact-details-contacts i{
   margin: 0px 10px;
}
#contact .contact-content .contact-details .contact-details-contacts a{
    color: black;
    text-decoration: none;
    
}

/*-----FOOTER-----*/

footer{
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .footer-icons{
    display: flex;
    justify-content: space-between;
}
footer .footer-icons i{
    margin: 10px 10px;
}
footer .footer-icons a{
    color: black;
}
